:root{
    --main-color: #0089ec;
    --main-font-color: #515353;
    --secondary-font-color: #717171;
    --icon-color: #1d1e1e;
    --main-bg-color: #F5F7F9;
    --discount-badge-color: #81ce80;
}
  
body{
    background-color: var(--main-bg-color);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.products-section{
    margin: 100px 0;
}

.products-title{
    width: 1290px;
    height: 569px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-heading{
    text-align: center;
    font-size: 54px;
    line-height: 72px;
    color: var(--icon-color);
    font-weight: 700;
    letter-spacing: -0.32px;
}

.products-message{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.32px;
    color: var(--main-font-color);
}

.products-row{
    max-width: 890px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.products-cover{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.product-card, .product-card-sm{
    position: relative;
    margin: 10px 0;
    padding: 0 10px;
}

.product-row{
    max-width: 890px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.product-card-item:hover{
    box-shadow: 0 8px 16px rgba(34, 34, 34, .08);
}

.product-card-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0 15px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(34, 34, 34, .02);
    cursor: pointer;
    transition: all .2s ease-out;
}

.product-card-item span{
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    font-weight: 600;
    letter-spacing: -0.32px;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none;
    color: var(--icon-color);
}

.product-card-item:hover span{
    color: var(--main-color);
}

.discount{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    color: #fff;
    background-color: var(--discount-badge-color);
    border-radius: 12px;
    font-weight: 600;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.32px;
}

.product-name{
    font-size: 15px;
    line-height: 27px;
    display: inline-block;
    margin-top: 2px;
    font-weight: 600;
}

.btn-all-products{
    margin: 30px 0 15px;
    display: inline-block;
    text-align: center;
}

.all-products{
    color: var(--main-color);
    font-size: 15px;
    line-height: 27px;
    letter-spacing: -0.32px;
    cursor: pointer;
    font-weight: 600;
}

.why-us-section{
    padding-top: 72px;
    padding-bottom: 13px;
    background-color: #fff;
}

.why-us{
    padding: 0 15px;
}

.why-us-items{
    max-width: 1170px;
    margin: auto;
}

.why-us-item-list{
    padding-top: 88px;
    margin-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    grid-column-gap: 48px;
    justify-content: space-between;
}

.why-us-title{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 88px;
    margin: 0;
}

.why-us-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 8px;
    text-align: center;
}

.why-us-item-name{
    color: var(--icon-color);
    line-height: 24px;
    letter-spacing: -0.16px;
    font-weight: 600;
}

.why-us-item-desc{
    font-size: 15px;
    line-height: 24px;
    color: var(--main-font-color);
    text-align: center;
}

.landing-cover-section{
    background-color: #fff;
}

.landing-cover-row{
    width: 80%;
    margin: auto;
    /* padding-right: 50px; */
}

.left-landing-cover{
    flex-direction: column;
    justify-content: center;
    /* padding-right: 15px; */
}

.landing-cover-item{
    display: flex;
    height: 100vh;
    min-height: 900px;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 43px 0;
}

.landing-cover-item-title{
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 22px;
    color: var(--icon-color);
    font-weight: 600;
    letter-spacing: -0.32px;
    text-align: left;
}

.landing-cover-item-detail{
    font-size: 16px;
    line-height: 24px;
    color: var(--main-font-color);
    text-align: left;
}

.landing-cover-item-btn{
    display: flex;
    align-items: center;
    color: var(--main-color);
    margin-top: 12px;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: -0.32px;
    cursor: pointer;
    font-weight: 600;
}

.mobile-desc{
    margin-top: 18px;
    color: var(--secondary-font-color);
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.16px;
    text-align: center;
}

.right-landing-cover{
    text-align: right;
}

.mock-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mock-up span{
    margin-top: 18px;
    color: var(--secondary-font-color);
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.16px;
    text-align: center;
}

.customer-special-section{
    padding: 72px 0;
    background-color: #fff;
}

.inner-customer-special{
    max-width: 1208px;
    margin: auto;
}

.inner-customer-special h2{
    display: block;
    margin: 0 auto 52px;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.02em;
    text-align: center;
    font-weight: 600;
}

/* .customer-special-panel{
    width: 1080px;
    height: 520px;
    box-shadow: 0 16px 32px 1px rgba(0, 0, 0, 0.16);
} */

.carousel-row{
    display: grid;
    grid-template-columns: 64px 1fr 64px;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}
  
.carousel-inner-cover {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 16px 32px 1px rgba(0,0,0,0.16);
    touch-action: pan-y;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    list-style: none;
    /* width: 1080px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; */
}

.carousel-inner{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.carousel-control-prev,
.carousel-control-prev:hover,
.carousel-control-next,
.carousel-control-next:hover{
    opacity: 1;
}

.carousel-control-prev,
.carousel-control-next{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.carousel-btn{
    color: var(--main-color);
}

.carousel-item-cover{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    position: relative;
}

.carousel-item,
.carousel-item .active
{
    height: 520px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr !important;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;

}

.iframe-cover{
    width: 100%;
    height: 100%;
}

.iframe-cover iframe{
    width: 100%;
    height: 100%;
}

.customer-special-main{
    display: flex;
    flex-direction: column;
}

.customer-special-nav{
    display: inline-flex;
    position: relative;
    height: 40px;
    align-self: center;
    max-width: 100%;
    margin-bottom: 32px;
    padding-bottom: 52px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
}

.customer-special-nav li{
    height: 40px;
    margin-right: 8px;
    padding: 0 16px;
    font-size: 15px;
    line-height: 22px;
    border: 1px solid rgba(0, 0, 0, 0);
    user-select: none;
    font-weight: 500;
    align-items: center;
    color: var(--secondary-font-color);
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
}

.customer-special-nav li:hover{
    background-color: #fafafa;
}

.customer-special-nav .selected{
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 12px;
    font-weight: 500;
}

.carousel-indicator-cover{
    margin-top: 32px;
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel-indicator-cover-inner{
    display: inline-grid;
    grid-template-columns: auto 1fr auto;

}

.carousel-indicators{
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.carousel-indicators .active{
    background-color: #6AACF1;
}

.carousel-indicators li{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 6px;
    background-color: #C8C8C8;
    cursor: pointer;
}

.comments-section{
    padding: 72px 0;
}

.comments h2{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.comments-row{
    position: relative;
}

.comments-row h2{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

.comments-row div:not(:last-child){
    margin-right: 20px;
}

.comments-list{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.comment-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 219px;
    padding: 32px;
    background-color: #fff;
    max-width: 377px;
    border-radius: 12px;
}

.comment{
    font-size: 16px;
    line-height: 27px;
    text-align: left;
}

.commenter{
    line-height: 24px;
    align-self: flex-end;
}

.awards-section{
    background-color: #fff;
}

.awards-row-cover{
    margin: 0;
    padding: 32px 0;
    color: var(--icon-color);
    background-color: #fff;
}

.awards-detail h2{
    font-size: 32px;
    line-height: 39px;
    color: var(--icon-color);
}

.awards-detail p{
    margin: 16px 0;
    color: var(--main-font-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    max-width: 100%;
}

.awards-detail span{
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: -0.32px;
}

.awards-img{
    display: flex;
    flex-direction: row;
    gap: 52px;
    justify-content: flex-end;
    height: 238px;
}

.offers-section{
    margin: 72px 0;
}

.offers h2{
    margin: 0 27px;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

.companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1020px;
    margin: 52px auto 40px;
}

.company{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 115px;
    margin: 10px;
    padding: 32px;
    background-color: #fff;
    border-radius: 12px;
    filter: grayscale(100%);
}

.company:hover{
    cursor: pointer;
    filter: grayscale(0);
    transition: all .3s ease;
}

.company img{
    object-fit: contain;
}

.other-companies{
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.faq-section{
    margin: 72px auto;
    max-width: 960px;
    padding: 72px 0;
}

.faq-title{
    margin-top: 70px;
    margin-bottom: 46px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.32px;
}

.faq-accordion{
    margin-top: 24px;
}

.accordion-item{
    margin-bottom: 16px;
    motion: 0.3s cubic-bezier(0.45,0,0.55,1);
    position: relative;
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 6px rgba(34,34,34,0.02);
    border-radius: 12px;
}

.accordion-item:first-of-type, .accordion-item:last-of-type{
    border-radius: 12px;
}

.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed
{
    border-radius: 12px;
}

.accordion-button,
.accordion-button:not(.collapsed)
{
    padding: 26px 36px;
    color: var(--icon-color);
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:focus:not(:focus-visible),
.accordion-button:focus-visible
{
    outline: none;
}

.accordion-body{
    margin: 0 36px;
    padding: 16px 0 36px;
    border-top: 1px solid #dee0e2;
    color: var(--main-font-color);
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.trust-section{
    margin-bottom: 100px;
}

.trust-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 24px;
}

.trust-banner h3{
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    display: flex;
}

.trust-banner p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.trust-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 52px 7px;
    column-gap: 25px;
    row-gap: 25px;
}

.trust-card{
    width: 162px;
    height: 162px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    row-gap: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trust-card:hover{
    color: var(--main-color);
    box-shadow: 0 8px 16px rgba(34, 34, 34, .08);
    transition: all .3s ease-in;
}

.trust-card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.trust-card-img{
    max-width: 150px;
    max-height: 110px;
}

.trust-card-title{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

/* min-width: 768px */
@media (min-width: 768px){
    .product-card-item{
        height: 162px;
    }

    .product-card-sm{
        width: 20%;
    }

    .why-us-item-name{
        font-size: 20px;
        color: var(--icon-color);
        line-height: 24px;
        letter-spacing: -0.16px;
    }

    .why-us-item-desc{
        font-size: 15px;
        line-height: 24px;
    }

    .comments-section{
        margin-top: 72px;
        margin-bottom: 72px;
    }

    .awards-row-cover{
        padding: 72px 0;
    }
}

@media (max-width: 768px){
    .awards-detail p{
        margin: 8px;
        font-size: 14px;
        line-height: 22px;
        margin: 5px 0;
    }

    .awards-detail span{
        width: 100%;
    }

    .awards-img img{
        max-height: 200px;
    }

    .landing-cover-row{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .landing-cover-item-mobile img{
        /* padding-right: 15px; */
    }
}

/* max-width: 992px */
@media (max-width: 992px){
    .product-card, .product-card-sm{
        margin: 5px 0;
        padding: 0 5px;
    }

    .why-us-item-list{
        padding-top: 88px;
        flex-direction: column;
    }

    .why-us-item:not(:last-child){
        padding-bottom: 45px;
    }

    .why-us-item-name{
        margin-top: 4px;
    }

    .customer-special-nav{
        margin-bottom: 0;
        padding-bottom: 52px;
    }

    .customer-special-nav li{
        padding: 0 12px;
        font-size: 12px;
    }

    .customer-special-nav li{
        padding: 0 12px;
        font-size: 12px;
    }

    .carousel-row{
        display: flex;
    }

    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }

    .carousel-inner-cover{
        box-shadow: none;
    }

    .carousel-indicator-cover{
        margin-top: 20px;
    }

    .comments-list{
        justify-content: unset;
        height: 100%;
        margin: 18px 0 35px 14px;
        overflow-y: hidden;
    }

    .comments-row div:not(:last-child){
        margin-right: 20px;
    }

    .comment-card{
        display: inline-flex;
        width: 100vw;
        height: 195px;
        max-height: 100vh;
        padding: 28px;
    }

    .comment, .commenter{
        font-size: 15px;
        line-height: 24px;
    }

    .awards-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .awards-img{
        width: 100%;
        justify-content: center;
    }
}

/* min-width: 992px */
@media (min-width: 992px){
    .landing-cover-item-title{
        margin-top: 0;
        font-size: 24px;
        line-height: 34px;
    }

    .landing-cover-item-detail{
        font-size: 16px;
        line-height: 24px;
    }

    .landing-cover-item-btn{
        margin-top: 16px;
        font-size: 15px;
        line-height: 27px;
    }

    .right-landing-cover-container{
        position: sticky;
        top: 0;
        right: 0;
        align-items: center;
        justify-content: flex-end;
        display: flex;
        height: 100vh;
        min-height: 900px;
    }

    .right-landing-cover-first-img,
    .right-landing-cover-second-img
    {
        position: absolute;
        right: 38px;
        display: flex;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .right-landing-cover-first-img img{
        position: relative;
        top: -25px;
        right: 12px;
    }
}

/* min-width: 1200p */
@media (min-width: 1200px){
    .why-us-item{
        max-width: 330px;
    }
}

@media (max-width: 1200px){
    .landing-cover-row{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 1440px){
    .awards-row-cover{
        margin: 0 50px;
    }
}