:root{
    --main-color: #0089ec;
    --main-font-color: #515353;
    --secondary-font-color: #717171;
    --icon-color: #1d1e1e;
    --main-bg-color: #F5F7F9;
    --badge-color: #ff7300;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: start;
}

a{
    text-decoration: none;
    color: var(--main-font-color);
}

footer{
    width: 100%;
    padding-top: 44px;
    background-color: #fff;
    box-sizing: border-box;
}

.footer-title-logo{
    display: block;
    margin-top: 8px;
}

.copyright{
    color: var(--secondary-font-color);
    font-size: 11px;
}

.awards{
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;
}

.footer-main{
    position: relative;
    margin-top: 36px;
    padding: 0 0 72px 0;
}

.footer-main-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    padding: 0 15px;
}

.footer-nav{
    padding-left: 0;
}

.footer-nav-list-hidden {
    display: none;
  }

.footer-nav-list{
    position: relative;
    display: block;
}

.footer-nav-link{
    display: table;
    margin-bottom: 8px;
    color: var(--secondary-font-color);
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.footer-nav-link:hover{
    text-decoration: underline;
}

.footer-nav-title{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
}

.footer-nav-title svg{
    position: relative;
    display: none;
}

.footer-nav-list li{
    display: table;
    margin-bottom: 8px;
    color: var(--secondary-font-color);
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    max-width: 250px;
}

.footer-nav-list li a:hover{
    text-decoration: underline;
    color: var(--main-font-color);
}

.help-btn{
    background-color: rgb(0, 0, 0, 0);
    border: none;
    margin-bottom: 43px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    pointer-events: none;
    padding: 0;
}

.help-btn-title{
    margin-right: auto;
    font-size: 15px;
    line-height: 24px;
    white-space: nowrap;
    margin-bottom: 1px;
    color: var(--secondary-font-color);
}

.help-btn-number{
    margin-right: auto;
    font-size: 15px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: right;
    color: var(--icon-color);
    line-height: 27px;
    font-weight: 500;
}

.help-btn-number svg{
    width: 19px;
    height: 19px;
    margin-right: 6px;
}

.footer-follow-us{
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
}

.footer-icon-list{
    display: inline-flex;
}

.footer-action-call{
    margin-bottom: 43px;
    font-size: 15px;
    line-height: 24px;
    white-space: nowrap;
}

.footer-phone-title{
    color: var(--secondary-font-color);
    font-size: 15px;
    margin-bottom: 1px;
    margin-right: auto;
}

.footer-phone-number{
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: right;
    line-height: 27px;
    margin-right: auto;
    color: var(--icon-color);
    font-weight: 500;
    font-size: 15px;
}

.phone-icon{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    align-self: center;
}

.social-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 28px;
    margin-bottom: 16px;
    cursor: pointer;
}

.social-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.certificates{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.certificate{
    position: relative;
    flex-shrink: 0;
    margin-right: 8px;
    cursor: pointer;
}

.certificate img{
    object-fit: contain;
}

.trust-img{
    width: 99px;
    height: 36px;
}

.qr-code{
    width: 88px;
    height: 88px;
}

.ssl-img{
    width: 35px;
    height: 44px;
}

.bottom-footer{
    width: 100%;
    height: 102px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #f4f4f4;
}

.bottom-inner-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-footer-banner{
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 36px;
    color: var(--secondary-font-color);
    font-size: 15px;
}

.iLab-logo{
    margin: 0 12px;
}

.bottom-footer-links{
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.bottom-footer-link, .link-divider{
    color: var(--secondary-font-color);
    font-size: 15px;
}

.bottom-footer-link:hover{
    text-decoration: underline;
    color: var(--secondary-font-color);
}

/* max-width: 992px */
@media (max-width: 992px){
    .footer-banner{
        flex-direction: column;
    }
    
    .awards{
        gap: 8px;
        margin: 0;
    }
    
    .footer-main{
        flex-direction: column-reverse;
        margin-top: 28px;
        padding-bottom: 28px;
    }

    .footer-nav-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform-origin: left center;
        cursor: pointer;
    }

    .footer-nav-list{
        display: none;
    }

    .help-btn{
        display: block;
        grid-column-gap: 8px;
        grid-template-columns: 1fr;
        align-items: center;
        margin-bottom: 30px;
        text-align: left;
    }

    .help-btn-title{
        font-size: 12px;
        line-height: 22px;
    }

    .help-btn-number{
        font-size: 12px;
        justify-content: left;
    }

    .help-btn-number svg{
        width: 15px;
        height: 15px;
    }

    .footer-follow-us{
        display: none;
    }

    .footer-icon-list{
        display: block;
    }

    .certificates{
        margin-top: 20px;
    }

    .bottom-footer-banner{
        font-size: 12px;
    }

    .iLab-logo img{
        width: 61px;
        height: 22px;
        object-fit: contain;
    }

    .footer-nav{
        margin-bottom: 18px;
    }

    .footer-nav-title svg{
        display: block;
    }

    .bottom-inner-footer{
        height: 100%;
    }

    .bottom-footer-banner{
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* max-width: 768px */
@media (max-width: 768px){
    .footer-nav-title{
        font-size: 12px;
    }
}

/* min-width: 768px */
@media (min-width: 768px){
    .certificate{
        display: flex;
        align-items: center;
    }

    .ssl-img{
        display: flex;
        align-items: center;
    }
}

/* max-width: 1200px */
@media (max-width: 1200px){
    .bottom-footer{
        height: 196px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .bottom-footer-links{
        flex: unset;
        align-items: center;
        margin-top: 16px;
    }
}